
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body{
    background-color: rgba(214, 211, 208, 0.642);
    padding: 20px;
  }
  h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
 section{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(214, 211, 208, 0.642);
 } 
 h2{
  margin-bottom: 15px;
  color: #080202;
  text-align: center;
 }

 form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
 }
 label {
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],select{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  outline: none;
  border-color: #007BFF;
}
button{
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#submitBtn {
  background-color: #007BFF;
  color: white;
}
#submitBtn:hover {
  background-color: #0056b3;
}
#resetBtn{
  background-color: #007BFF;
  color: white;
}
#resetBtn:hover{
  background-color: #0056b3;
}
.error-message {
  color: red;
  font-size: 0.9em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th, table tr {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
table tbody tr:hover {
  background-color: #f1f1f1;
}
table button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
table button.edit {
  background-color: #28a745;
  color: white;
}
table button.delete {
  background-color: #dc3545;
  color: white;
}
table button.edit:hover {
  background-color: #218838;
}

table button.delete:hover {
  background-color: #c82333;
}



@media (max-width: 600px) {
  form {
    width: 100%;
  }
}




  
  
   
  
 
    
    
   
  
   
  
  
  
  
      
 
 
  

  
   


  
  
    